<mat-toolbar class="md:bg-slate-800 md:text-gray-200 md:font-light">

  <!-- Icono de Menú -->
  <button mat-icon-button class="">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Título -->
  <span>Gestión de usuarios</span>

  <span class="example-spacer">
  </span>

  <!-- Iconos -->
  <button mat-icon-button class="">
    <mat-icon>favorite</mat-icon>
  </button>

  <button mat-icon-button aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>

</mat-toolbar>